<form action="" class="server-form">
  <div class="form-group">
    <label for="serverName">Server Name</label>
    <input type="text" name="serverName" id="serverName" #serverNameInput class="form-control" placeholder="Enter server name">
  </div>
  <div class="form-group">
    <label for="serverContent">Server Content</label>
<input type="text" class="form-control" #serverContentInput placeholder="Enter Server Content" id="serverContent"
      name="serverContent">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="onAddServer()">Create Server</button> |
    <button class="btn btn-danger" (click)="onAddBlueprint()">Create Blueprint</button>
  </div>
</form>